<footer>
    <div class="foot-info">
        <div class="socials">
            <div class="navs-links">
                <a href="/Listings">Listings</a>
                <a href="/listings/new">create new list</a>
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/biswajit_04_/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://m.facebook.com/biswajit.muduli.738895/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/biswajit-muduli-1246a024b/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="mailto:biswajitmuduli0544@gmail.com"><i class="fa-regular fa-envelope"></i></a>
            </div>
        </div>



<div class="right">&copy; TravaNest | 2025 | Al rights Reserved</div>
    </div>
</footer>