
<nav class="navbar navbar-expand-md bg-body-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i> TravaNest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse colapse-whole-navelem" id="navbarNavAltMarkup">

        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </div>
        
       <div class="searchbar navbar-nav ms-auto">
        <input type="text" placeholder="Search destination" >
        <a href="/k"> <i class="fa-solid fa-magnifying-glass sicon"></i></a>
       </div>

         <div class="navbar-nav ms-auto ">
            <% if (!currentUser) { %>
          <a class="nav-link me-2 " style="border: 1px solid black; border-radius: 1rem;" href="/signup"><b>Signup</b></a>
          <a class="me-2 nav-link" href="/login" style="border: 1px solid black; border-radius: 1rem;" ><b>login</b></a>
          <% }%>

          <% if (currentUser) { %>
          <a class="me-2 nav-link" href="/logout" style="border: 1px solid black; border-radius: 1rem;"  ><b>logout</b></a>
                  <% }%>
          </div>



      </div>
    </div>
  </nav>